.task_h1_tag {
    border: 1px solid red;
}

.task_h1_tag h1 {
    text-align: center;
    font-size: 36px;
    border: 1px solid red;
    margin: 0;
}

.task_all_tasks {
    display: flex;
    gap: .5rem;
}

.todo_progress_done {
    width: 17.5rem;
    border: 1px solid indigo;
}

.todo_progress_done h1 {
    font-size: 18px;
    padding: 4px;
}

.task_card {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;
}