.task_h1_tag {
    border: 1px solid red;
}

.task_h1_tag h1 {
    text-align: center;
    font-size: 36px;
    /* border: 1px solid red; */
    margin: 0;
}

.task_all_tasks {
    display: flex;
    gap: .5rem;
}

.todo_progress_done {
    width: 17.5rem;
    min-width: 17.5rem;
    /* border: 1px solid indigo; */
}

.todo_progress_done h1 {
    font-size: 24px;
    padding: 4px;
}

.todo_card_list {
    display: grid;
    gap: 1rem;
}