.layout_menu {
    display: flex;
    gap: 2rem;
    position: relative;
    min-height: 100vh;
}

.lef_menu {
    width: 17.5rem;
    min-width: 17.5rem;
    box-shadow: 0 0 5px rgb(73, 73, 73);
}

.right_main_view_menu {
    padding: 1rem;
    flex-grow: 1;
    box-shadow: 0 0 5px rgb(73, 73, 73);
    overflow-x: scroll;
    scroll-behavior: auto;
}

.closed_button_image {
    display: none;
}

/* width <1024 px = small device  */
@media only screen and (max-width: 1024px) {
    .layout_menu {
        display: block;
    }

    .lef_menu {
        background-color: #242424;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .lef_menu_position_hide {
        left: -100rem;
    }

    .lef_menu_position_show {
        /* box-shadow: none; */
        padding-top: .5rem;
        left: 0;
    }

    .closed_button_image {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #242424;
        border: none;
        display: block;
        position: absolute;
        top: 2.3rem;
        left: 2rem;
    }

    .closed_button_image_hide {
        display: none;
    }

    .closed_button_image:hover {
        background-color: #363636;
        border-radius: 5px;
        cursor: pointer;
    }

    .closed_button_image:active {
        transform: scale(.9);
    }

}