.lef_menu {
    border: 2px solid red;
    padding: 1rem;
    flex-basis: 280px;
}

.right_main_view_menu {
    border: 2px solid red;
    padding: 1rem;
    flex-grow: 1;
}

.layout_menu {
    display: flex;
    gap: 3rem;
}

/* width <1024 px = small device  */
@media only screen and (max-width: 1024px) {}